<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings>
    <difficulty>intermediate</difficulty>
    <beginner height="8" mines="10" width="8"/>
    <intermediate height="16" mines="40" width="16"/>
    <expert height="16" mines="99" width="30"/>
    <lottery height="16" mines="479" width="30"/>
</settings>